.details {
    width: 813px;
    position: relative;
    border-radius: 50px;
    background-color: var(--add-button-color);
    height: 452px;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
    text-align: left;
    font-size: 36px;
    color: #e0ffff;
    font-family: Inter;
    display: grid;
    grid-template-columns: 1fr; /* Single column for layout */
    grid-gap: 20px; /* Adds space between rows */
    padding: 20px;
}

.item_id {
    width: 12vw;
    color: #fff;
}

.centerWrapper {
    margin-left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%; /* Full height of .details */
    position: absolute; /* Position over .details */
    width: 100%; /* Full width of .details */
    top: 0;
    left: 0;
}

.dynamic_input {
    background-color: transparent;
    min-width: 50px; /* Minimum width */
    max-width: 100%; /* Limits the width to 100% of the parent */
    width: auto;
    padding: 4px;
    outline: none;
    resize: horizontal; /* Allows resizing */
    overflow: hidden;
}

.non_interactable {
    pointer-events: none; /* Disables mouse events */
}

.something {
    position: relative;
    color: #ffff;
}

.somewhereSt1 {
    position: relative;
    color: #ffff;
}

.somewhereSt {
    position: relative;
    color: #ffff;
}

.imageIcon {
    position: absolute;
    top: 261px;
    left: 420px;
    border-radius: 50px;
    width: 356px;
    height: 173px;
    object-fit: cover;
}

.upsIcon {
    position: absolute;
    top: 158px;
    left: 684px;
    width: 90px;
    height: 90px;
    object-fit: cover;
}

.div {
    position: relative;
    color: #fff;
    display: inline-block;
}

.amazonIcon {
    position: absolute;
    top: 14px;
    left: 729px;
    width: 54px;
    height: 65px;
    object-fit: cover;
}

.div1 {
    position: relative;
    color: #fff;
    display: inline-block;
}

.image_update {
    position: absolute;
    top: 250px;
    right: 30px;
    color: #fff;
    display: inline-block;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.button_delete {
    position: absolute;
    top: 378px;
    right: 35px;
    color: #fff;
    display: inline-block;
    width: 144px;
    height: 44px;
}

.infoGrid {
    margin-top: 1%;
    display: flex;
    grid-template-columns: 1fr 1fr;
    flex-direction: column;
     /* Single column layout */
    grid-gap: 20px; /* Adds space between input-label pairs */
}

.label {
    
    font-size: 18px;
    color: #e0ffff;
    display: block;
    margin-bottom: -20px;
}

.labelItem, .labelAddress, .labelOrder, .labelPrice {
    text-align: left;
    color: #fff;
}

/* Specific label styling for each input */
.labelItem {
    font-weight: bold;
}

.labelAddress {
    font-weight: bold;
}

.labelOrder {
    font-weight: bold;
}

.labelPrice {
    
    font-weight: bold;
}
