@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #edf1fa;
  --sidebar-bg-color: #fef7ff;
  --accent-color: #b87333; /* Coppery accent */
  --card-bg-color: #ffffff;
  --text-color: #050505; /* Black */
  --highlight-color: #6b4ca5; /* Soft purple */
  --goal-color: #817bbd; /* Light violet for goals */
  --button-text-color: #ffffff;
  --add-button-color: #64558f;
  --active-color: #98FF98;
  --not-active-color: #1f82897c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
