.mainContainer {
  border-radius: 20px;
  height: 500px;
  background-color: #fff;
  display: flex;
  margin-top: 10px;
  width: 550px;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 110px 70px;
  border: 1px solid rgba(0, 0, 0, 0.09);
}

@media (max-width: 991px) {
  .mainContainer {
    padding: 110px 70px;
  }
}